nav .register {
    display: none;
}

.dropdown, .profile-img{
    display: inline-block;
}

.flex-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 20px;
}

.button-main {
    width: 150px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    color: #B91216;
    background-color: rgb(233, 233, 233);
    border: none;
    outline: none;
    font-weight: 500;
}

.button-main:hover {
    background-color: #B91216;
    color: white;
}

.hero {
    height: 100%;
    padding: 7%;
    background-color: #B91216;

}

.hero .action-cards {
    flex-wrap: wrap;
    gap: 20px;
}

.hero .cards {
    width: 150px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    border-radius: 10px;
}

.hero .cards i {
    color: #B91216;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}